@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: #2563eb; /* azul Tailwind 600 */
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  height: 40px;
  width: 40px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #2563eb;
  color: white;
  height: 40px;
  width: 40px;
}

.swiper-pagination-bullets {
  bottom: 0px !important; /* Aleja los dots de las slides */
}

.swiper-pagination-bullet {
  background: var(--color-pagination);
}

.swiper-pagination-bullet-active {
  background-color: #2563eb; /* Tailwind blue-600 */
  width: 12px;
  height: 12px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  bottom: -5px !important; 
}

@layer base {
  section {
    @apply lg:p-4 p-0 overflow-hidden;
  }
}
